@font-face {
    font-family: 'OpenSans';
    src: url("./assets/fonts/OpenSans-Regular.ttf");
    
}
.cvBody {
    max-width: 75%;
    margin: 0 auto;
    font-family: OpenSans;
    
    .headerContainer {
        display: flex;
        
        .photoContainer {
            min-width: 35%;
            width: 35%;
            background-color: #9f779f;


            .avatar {
                width: 80%;
                border-radius: 50%;
                padding: 40px;
            }
            
        }
        
        .nameContainer {
            width: 65%;
            padding-left: 50px;
            margin: auto 0;
            
            .headerTitle {
                 font-weight: 600;
                 font-size: 60px;
                 margin: 0;
                 
            }
            
            .headerSubtitle {
                font-weight: 600;
                font-size: 25px;
                margin: 0;
                padding-top: 10px;
            }
        }
    }
    .mainContent {
        display: flex;
        height: 100%;

        .mainLeft {
            background-color: #eaeaea;
            width: 35%;
            height: 100%;
            /* padding: px; */

            .listContacts {
                list-style: none;
                margin: 0 auto;
                padding-left: 15px;
               
                .iconContacts{
                    width: 40px;
                    height: 40px;
                    vertical-align:middle;
                }                                
            }
            
        }

        .mainRight {
            width: 65%;
            height: 100%;
        }
    }
}


